.centered {
  text-align: center;
  margin-top: 20px;
}

.overlay {
  position: absolute;
  z-index: 999;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 20px;
}
